/* Reset */
.site-branding {
	p, h1 {
		margin: 0;
	}
}

/* Layout */
.site-branding {
	flex-basis: 150px;
	padding: 0;

	#site-title {
		width: 150px;
		height: 79px;
		margin: 0 auto;
	}

	#site-title a,
	#site-title img {
		display: block;
	}
}