/* Layout */
.site-branding {
	flex-basis: 0;
	padding: 24px 0 12px;

	/* Reset */
	p, h1 {
		margin: 0;
	}

	#site-title {
		img {
			width: 108px;

		}
	}

	#site-title a,
	#site-title img {
		display: block;
	}
}