.breadcrumbs {
	position: relative;
	margin-top: vertical-space(-0.1);
	margin-bottom: vertical-space(0.1);
	line-height: vertical-space(0.5);
	font-size: font-size(small);
	color: rgba($shark, 0.6);

	.breadcrumb_last {
		font-style: italic;
	}
}
