.recent-posts-widget {
	.entry-byline {
		margin: 0;
		padding-top: vertical-space(0.3);
		font-size: font-size(tiny);
		line-height: vertical-space(0.7);
	}

	.entry-title {
		@include reset-heading;
		font-size: font-size(h4);
	}
}