

.knowledgebase-widget {

	.knowledgebase-categories {
		margin-bottom: $vertical__space;
	}

	.category-title {
		margin-bottom: 0;
		&:not(:last-of-type) {
			margin-bottom: 0.5rem;
			padding-bottom: 0.5rem;
			border-bottom: 1px solid palette(grey);
		}
		a:before {
			@include icon(fa-folder-o);
			padding-right: 0.3em;
		}

		a {
			@include reset-link-style;
			&:hover {
				color: palette(primary);
			}	
		}
	}

	.read-more {
		display: block;
		font-size: $font__size-small;
	}
}

.recent-posts-widget {

	.recent-posts {
		margin-bottom: $vertical__space;
	}

	.entry {
		margin-bottom: $vertical__space;
	}

	.entry-byline {
		color: palette(black, light);
		font-size: $font__size-small;
		a {
			color: inherit;
			&:hover {
				color: palette(primary);
				text-decoration: underline;
			}
		}
	}

	.entry-title {
		margin-bottom: $vertical__space-half;
		font-size: rem(20);
		line-height: 1.2;
	}
}