.wp-caption {
	img[class*="wp-image-"] {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.wp-caption-text {
	margin: vertical-space(0.33333) 0;
	line-height: vertical-space(0.666);
	font-size: font-size(small);
	font-style: italic;
	text-align: center;
	color: rgba($shark, 0.6);
}
