//* Viewsize containers
$desktop-width: 760px;
$tablet-width: 0px;
$smartphone-width: 0px;

$desktop-breakpoint: 0px;
$tablet-breakpoint: 0px;
$smartphone-breakpoint: 0px;

//* Minimum
$max-width: $desktop-width;
$min-width: $smartphone-width;

//* Neat variables
$column: 120px;
$gutter: 48px;
$grid-columns: 6;