/* Archive for Posts & Post Category */
.taxonomy-category,
.blog {

	main {
		.content-main > .wrap {
			margin-top: vertical-space(1.5);
			margin-bottom: vertical-space(2);
		}

		.entry {
			margin-bottom: vertical-space(1);
			border-bottom: 1px solid $grey;
		}
	}

	.entry-title {

	}
}