.archive-knowledgebase_post,
.taxonomy-knowledgebase_category {

	.content-main {
		text-align: center;
	}

	.knowledgebase_post {
		border-bottom: 1px solid $grey;

		.entry-title {
			@include h4;
			color: inherit;
			margin-bottom: 0;
			padding-top: vertical-space(0.25);
			padding-bottom: vertical-space(0.25);
			text-align: left;
		}

		// Facilitate icon
		.entry-title {
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			align-items: center;

			// Icon
			&:before {
				@include icon(fa-file-text-o);
				width: 1.5em;
				padding-left: em(2);
				font-size: 1em - em(2);
				text-align: left;
			}
		}

		a {
			@include on-event {
				color: $havelock-blue;
			}
		}
	}
}

.archive-knowledgebase_post {

	@include breakpoint(xl) {
		.content-main > .wrap {
			padding: 0;
		}

		.kennisbank {
			@include make-row;
		}

		.kennisbank-category {
			@include make-column;
			@include column-span(1,2);
		}
	}

	.kennisbank-category {
		margin-bottom: vertical-space(1);
		

		.category-title {
			margin-bottom: vertical-space(0.75);

			a {
				&:before {
					@include icon(fa-folder-o);
					padding-right: 0.25em;
				}

				@include on-event {
					color: shade($havelock-blue, 10%);
				}	
			}
		}

		.category-list {
			margin-bottom: vertical-space(0.75);
		}

		footer {
			a {
				@include on-event {
					color: $havelock-blue;
				}

				&:before {
					@include icon(fa-angle-double-right);
					padding-right: 0.25em;
				}
			}
		}
	}
}

/* Kennisbank archive */
.archive-knowledgebase_post {
	.archive-title:before {
		@include icon(fa-folder-open-o);
		padding-right: 0.25em;
	}
}
	
/* Kennisbank category archive */
.taxonomy-knowledgebase_category {
	.archive-title:before {
		@include icon(fa-folder-o);
		padding-right: 0.25em;
	}
}

/* Kennisbank post */
.singular-knowledgebase_post {
	.content-header .entry-title:before {
		@include icon(fa-file-text-o);
		font-size: 0.8em;
		padding-right: 0.33333em;
	}
}
