.archive-knowledgebase_post,
.taxonomy-knowledgebase_category {
	.content-main > .wrap {
		margin-top: vertical-space(1.5);
		margin-bottom: vertical-space(1.5);
	}

	.content-main {
		.knowledgebase_post {
			margin-bottom: 0;
			border-bottom: 1px solid $grey;
			&:last-of-type { border-bottom: none; }

			.entry-title {
				@extend %reset-heading;
				text-align: left;
				margin-bottom: 0;

				display: flex;
				flex-flow: row nowrap;
				justify-content: center;
				align-items: center;

				@include breakpoint(large) {
					text-align: left;
					justify-content: flex-start;
				}

				&:before {
					@include icon(fa-file-text-o);
					width: 2em;
					padding-left: em(2);
					font-size: 1em - em(2);
					text-align: center;
				}
			}

			a {
				@extend %reset-link;				

				@include on-event {
					color: $havelock-blue;
				}
			}
		}
	}
}

.kennisbank {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 0;
	
	@include breakpoint(large) {
		margin: 0 -90px;
	}

	.kennisbank-category {
		flex-basis: 100%;
		margin-bottom: vertical-space(1);

		@include breakpoint(large) {
			flex-basis: boxsize(2, $width__gutter);
		}

		.category-title {
			margin-bottom: vertical-space(0.75);

			a:before {
				@include icon(fa-folder-o);
				padding-right: 0.25em;
			}

			a {
				@extend %reset-link;
				@include on-event {
					color: shade($havelock-blue, 10%);
				}	
			}
		}

		.category-list {
			margin-bottom: vertical-space(0.75);
		}

		footer {
			text-align: center;

			a {
				@extend %reset-link;
				@include on-event {
					color: $havelock-blue;
				}

				&:before {
					@include icon(fa-angle-double-right);
					padding-right: 0.25em;
				}
			}
		}
	}
}

/* Kennisbank archive */
.archive-knowledgebase_post {
	.archive-title:before {
		@include icon(fa-folder-open-o);
		padding-right: 0.25em;
	}

	.content-main {
		.knowledgebase_post {
			.entry-title {
				margin-top: vertical-space(0.25);
				margin-bottom: vertical-space(0.25);
				font-size: font-size(h4plus);
				line-height: line-height(1);
			}
		}
	}
}
	
/* Kennisbank category archive */
.taxonomy-knowledgebase_category {
	.archive-title:before {
		@include icon(fa-folder-o);
		padding-right: 0.25em;
	}

	.content-main {
		.knowledgebase_post {
			.entry-title {
				margin-top: vertical-space(0.25);
				margin-bottom: vertical-space(0.25);
				font-size: font-size(h3plus);
				line-height: line-height(1.5);
			}
		}
	}
}


// /* Kennisbank post */
// .singular-knowledgebase_post {
// 	.content-main .entry-title:before {
// 		@include icon(fa-file-text-o);
// 		padding-right: 0.25em;
// 	}
// }
