/* Box Colored
-------------------------------------------------------------------*/
.box-colored {
	padding: 0 $site__padding;
	background-color: $havelock-blue;
	color: $white;

	a {
		color: inherit;
    }


    h1, h2, h3, h4, h5, h6, 
    .entry-subtitle, .subtitle {
        color: inherit;
	}

    .entry-content,
    .textwidget {
    	a:not(.button) {
	    	text-decoration: underline;
			@include on-event {
				color: rgba($white, 0.8);
	        }
	    }
    }

	#{$buttons} {
		@include button(white);

		&.highlight {
			@include button(flame-pea)
		}
	}

	.entry-byline,
	.breadcrumbs {
		color: rgba($white, 0.8);

		a {
			// @extend %reset-link;
			@include on-event {
				color: rgba($white, 1);
			}
		}
	}
}