/* Footer Banner
-------------------------------------------------------------------*/
.footer-banner {
	background-color: $havelock-blue;
}

.footer-banner > .wrap {
	max-width: $width__site;
	margin: 0 auto;
	padding: vertical-space(1) 0;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

.footer-banner {
	.entry-title {
		font-size: font-size(h3plus);
		margin-bottom: 0;
		margin-right: 2rem;
	}
}