/* Footer Banner
-------------------------------------------------------------------*/
.footer-banner {
	background-color: $havelock-blue;
}

.footer-banner > .wrap {
	max-width: $width__site-max;
	margin: 0 auto;
	padding: 2rem 0;
}