/* Footer Banner
-------------------------------------------------------------------*/
.footer-banner {
	background-color: $havelock-blue;
}

.footer-banner > .wrap {
	max-width: $width__site;
	margin: 0 auto;
	padding: vertical-space(1) 0;

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.footer-banner {
	.entry-title {
		font-size: font-size(h3plus);
		margin: 0.25rem 1rem 0.25rem;
	}

	.button {
		margin: 0 1rem 0;
	}
}