#header {
	color: palette(white); 
	a {	color: inherit;	}

	position: relative;
}

#header .header-image {
	position: absolute;
	width: 100%;
	height: $height__header;
	background: palette(white) url($path__images + 'header-image-1.png') no-repeat center 0;

	&:after {
		content: "";
		position: absolute;
		height: $height__header;
		width: 100%;
		background-color: rgba(palette(primary), 0.8);
	}
}

#header > .wrap {
	max-width: $width__header-max;
	margin: 0 auto;
}
