#header {
	// Color
	color: palette(white); 
	a {	@include reset-link-style; }

	// Structure
	position: absolute;
	width: 100%;
}

#header > .wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	max-width: $width__site-max;
	margin: 0 auto;
	border-bottom: 1px solid palette(white);
}
