.home { 

	#main > .wrap {
		max-width: $width__main-large-max;
		// max-width: 1440px;
		padding: 0;
		background-color: transparent;
		box-shadow: none;
	}
}

.home-blocks {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	// background-color: palette(grey, light); // this simulates the color of the border

	.widget {
		flex-basis: boxsize(2, 8px);
		margin-top: 8px; // this simulates a border because of parent container background-color

		// Remove 'border' from first row
		// &:nth-child(4),
		// &:nth-child(3),
		&:nth-child(2),
		&:nth-child(1) {
			margin-top: 0px;
		}

		padding: 2.75rem 3rem;
		background-color: palette(white);
		box-shadow: $box__shadow;	

		.widget-title {
			font-size: $font__size-heading-2;
		}
	}
}


/**
 * Responsiveness 
 */
.home #main > .wrap { 
	// @include media($breakpoint__huge) {
	// 	max-width: $width__main-max;
	// }
}

.home-blocks .widget {
	@include media($breakpoint__huge) {
		flex-basis: boxsize(2, 8px);

		// Remove 'border' from first row
		&:nth-child(3),
		&:nth-child(4) {
			margin-top: 8px;
		}
	}

	@include media(660px) {
		flex-basis: 100%;

		// Remove 'border' from first row
		&:nth-child(2) {
			margin-top: 8px;
		}
	}
}