/* Content */
.archive-knowledgebase_post #content {	

	.kennisbank {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	.kennisbank-category {
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: 50%;
		max-width: 50%;
		margin-bottom: $vertical__space;
	}

	// @include media($breakpoint__medium) {
	// 	.kennisbank-category {
	// 		flex-basis: 100%;
	// 		max-width: 100%;
	// 	}
	// }
}

/* Kennisbank category */
.taxonomy-knowledgebase_category #content,
.archive-knowledgebase_post #content {

	.archive-title:before {
		@include icon(fa-folder-open-o);
		padding-right: 0.25em;
	}

	.category-title {
		a:before {
			@include icon(fa-folder-o);
			padding-right: 0.25em;
		}

		a {
			@include reset-link-style;
			&:hover {
				color: palette(primary);
			}	
		}
	}
}

/* Plural Knowledgebase */
.plural #content .knowledgebase_post {
	&:not(:last-of-type) {
		border-bottom: 1px solid palette(grey);
	}

	&:before {
		@include icon(fa-file-text-o);
		padding-right: 0.25em;
	}

	h2.entry-title {
	}

	h4.entry-title {
	}
}