.page-header {
	// Colors
	background-color: palette(primary);
	color: palette(white); 
	a {	@include reset-link-style; }

	// Structure
	padding-top: 100px;
	text-align: center;
}

.page-header > .wrap {
	max-width: $width__site-max;
	margin: 0 auto;
	padding: 2rem 0;
}

#main {

}

#main > .wrap {
	position: relative;
	margin: 0 auto;
	max-width: $width__site-max;
	padding: 2.75rem 3rem (2.75rem - $vertical__space);
	padding: 3.5rem 4rem (3.5rem - $vertical__space);
	background-color: palette(white);
	box-shadow: $box__shadow;	
}

#main {
	// @include media($breakpoint__small) {
	// 	padding-left: $width__site-padding / 2;
	// 	padding-right: $width__site-padding / 2;
	// }

	// @include media($breakpoint__tiny) {
	// 	padding-left: 0;
	// 	padding-right: 0;
	// 	> .wrap {
	// 		padding: 2rem 2.25rem (2rem - $vertical__space);
	// 	}
	// }
}

.archive-header {
	margin-bottom: $vertical__space;
}

.entry {
	margin-bottom: $vertical__space;
}	

.entry-content {
	
}

.entry-byline {
	// display: none;
}

.entry-header {
	
}

.entry-footer {
	
}
