.page-header {
	// Colors
	background-color: palette(primary);
	color: palette(white); 
	a {	@include reset-link-style; }

	// Structure
	padding-top: 100px;
	text-align: center;
}

.page-header > .wrap {
	max-width: $width__site-max;
	margin: 0 auto;
	padding: 2rem 0;
}

#main {

}

#main > .wrap {
}