/* Reset */
#menu-primary {
	ul { @extend %reset-list; }
	a {	@extend %reset-link; }
}

/* Layout */
#menu-primary {
	flex-basis: auto;
	// color: palette(white);

	.menu-items {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}

	/* Top level items */
	.menu-items > .menu-item {
		display: block;
		padding-bottom: 2px;
		margin: 4px 3px;

		> a {
			display: block;
			padding: 4px 17px;
			text-align: center;
			text-transform: uppercase;
		}

		> a:after {
			content: "";
			display: block;
			position: relative;
			top: 6px;
			margin: 0 auto;
			height: 2px;
			width: 0;
			background: transparent none repeat scroll 0 0;
			transition: all 200ms ease-in-out 0s;
		}

		/* Active */
		&.current-menu-item,
		&.current-menu-parent,
		&.current-menu-ancestor,
		&.current-post-ancestor,
		&.current-category-ancestor {
			> a:after {
				// background: palette(white);
				width: 100%;
			}
		}		

		/* On hover */
		&:hover > a:after {
			// background: palette(white);
			width: 100%;
		}
	}

	/* Top level Submenu */
	.menu-items > .menu-item {
		position: relative;
		overflow: hidden;

		> .sub-menu {
			visibility: hidden;
			opacity: 0;
			position: absolute;
			top: 50px;
			left: 0;
			z-index: 99;
			max-width: 320px;
			padding: 5px;
			background: $white;
			color: $river-bed;
			box-shadow: $box__shadow;
			transition: all 200ms ease 0s;
		}

		/* Show sub-menu on hover menu-item */
		&:hover {
			overflow: visible;

			> .sub-menu { 
				visibility: visible;
				opacity: 1;
				top: 100%;
			}
		}
	}

	.menu-items > .menu-item > .sub-menu > .menu-item {
		white-space: nowrap;
		a {
			display: block;
			padding: 12px 12px;
			transition: all 100ms linear 0s;

			&:hover {
				// background: palette(primary);
				// color: palette(white);
			}
		}
	}

}

/* Responsiveness */
#menu-primary {

}