/* Mobile Navigation
-------------------------------------------------------------------*/

#menu-primary-mobile {
	display: block;
}

@include breakpoint(lg) {
	#menu-primary-mobile {
		display: none;
	}
}

/* Toggle button */
.menu-toggle {
	padding-bottom: 9px;
	margin: 0px 0 0 9px;

	span {
		display: block;
		padding: 4px 0 4px 17px;
		font-family: get-font-family(primary);
		font-weight: get-font-weight(bold, primary);
		text-align: center;
		text-transform: uppercase;
		cursor: pointer;

		&:before { 
			@include icon('fa-navicon');
			padding-right: 5px;
		}

		&:after {
			content: "";
			display: block;
			position: relative;
			top: 13px;
			margin: 0 auto;
			height: 2px;
			width: 0;
			background-color: transparent;
			transition: all 200ms ease-in-out 0s;
		}

		&:hover {
			&:after {
				background-color: $white;
				width: 100%;
			}
		}
	}

	&.expanded {
		span:before { 
			content: $fa-var-remove; 
			padding-right: 6px;
		}

		span:after {
			background-color: $white;
			width: 100%;
		}
	}
}

/* Style */
#menu-primary-mobile {
	position: relative;

	ul { @include reset-list; }
	li { display: block; }

	a {
		display: block;
		transition: all 200ms ease 0s;
	}

	.menu-items {
    	display: none;
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 99;
		min-width: 240px;
		padding: 6px 0;
		background: $white;
		color: $shark;
		box-shadow: $box__shadow;
	}

	.menu-item {

	}

	/* Top level */
	.menu-items > .menu-item {
		position: relative;

		> a {
			flex: 1 0 100%;
			width: 100%;
			padding: 0.333rem 1rem;

			@include on-event {
				background-color: $grey;
			}
		}

		&.current-menu-ancestor > a,
		&.current-menu-item > a {
		}

		&.expanded {
			a {
				@include on-event {
				}
			}
		}
	}

	.touch-button {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0.333rem 0.666rem;
		font-size: font-size(small);
		text-align: center;
		cursor: pointer;

		@include on-event {
			background-color: $grey;
		}
	}

	.sub-menu {
		display: none;
		flex-basis: 100%;
		padding: 2px 12px 5px;

		.menu-item{
			&:first-child { border-top: none; }

			a {
				padding: 0.16666rem 1rem;
				font-size: rem(14);

				@include on-event {
					background-color: $grey;
				}
			}		

			&.current-menu-item { 
				font-weight: get-font-weight(bold);
			}
		}
	}


}

