#container {
	background-color: $color__background-body;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	min-height: 100%;
}

#header {}

#main {
	> .wrap {
		background-color: $color__background-main;
	}
}

#footer {
	flex: 1 1 auto;
}

#header > .wrap,
#menu-primary > .wrap,
#main > .wrap,
#footer > .wrap {
	max-width: $width__site-max;
	margin: 0 auto;
}

#content {
}

#sidebar-primary {
}

@include media(tablet) {
}

@include media(phablet) {
}

@include media(smartphone) {
}
