// Theme colors
$palettes: (
    primary: (
        base:  #2c96e3,
        light: lighten(#2c96e3, 10%),
        dark:  darken(#2c96e3, 10%)
    ),
    grey: (
        base:  #fffefc,
        light: lighten(#fffefc, 10%),
        dark:  darken(#fffefc, 10%),
    ),
    white: (
        base:  #fffefc,
        light: lighten(#fffefc, 100%),
        dark:  shade(#fffefc, 4%),
        transparent: rgba(#fffefc, 0.4),
    ),
    black: (
        base:  #332d31,
        light: lighten(#332d31, 20%),
        dark:  darken(#332d31, 10%),
        transparent: rgba(#332d31, 0.05),
    ),
);
