$width__site-max: 1200px;
$width__site-min: 300px;

// Gap between typography elements
$vertical__space: 1.25rem;
$vertical__space-half: $vertical__space / 2;

// Large
// Medium
// Smedium
// Small
// Tiny

// desktop
// laptop
// tablet
// phablet
// smartphone
// featurephone