$width__site-max: 720px;
$width__site-min: 300px;

$width__header-max: 720px;
$width__main-max: 720px;
$width__main-kennisbank-max: 960px;
$width__footer-max: 720px;

$height__header: 320px;

$width__site-padding: 24px;

$breakpoint__large: 1000px;
$breakpoint__medium: 820px;
$breakpoint__smedium: 680px;
$breakpoint__small: 540px;
$breakpoint__tiny: 460px;

// Large
// Medium
// Smedium
// Small
// Tiny

// desktop
// laptop
// tablet
// phablet
// smartphone
// featurephone

$width__gutter: 48px;
$width__gutter-half: $width__gutter / 2;
$width__gutter-pct: ( $width__gutter / $width__site-max ) * 100%;
$width__gutter-smartphone: 32px;

// Column widths
$width__column-one-half: (100% - ($width__gutter-pct * 1)) / 2;
$width__column-one-third: (100% - ($width__gutter-pct * 2)) / 3;
$width__column-two-third: $width__column-one-third * 2 + $width__gutter-pct;
$width__column-one-fourth: (100% - ($width__gutter-pct * 3)) / 4;
$width__column-three-fourth: $width__column-one-fourth * 3 + $width__gutter-pct;
$width__column-one-sixth: (100% - ($width__gutter-pct * 5)) / 6;
$width__column-five-sixth: $width__column-one-sixth * 5 + $width__gutter-pct;