// BASE FONT SIZE
$base-font-size: 18;
$base-line-height: (28/18);

// FONT FAMILY 
$font__families: (
	primary: (
		stack: ('Roboto', 'Helvetica', 'Arial', sans-serif),
		weights: (
			normal: 400,
			bold: 700
		)
	),

	secondary: (
		stack: ('Roboto Slab', 'Georgia', 'Utopia', 'Charter', serif),	
		weights: (
			normal: 400,
			bold: 700
		)
	)
);
