// FONT FAMILY 
$font__families: (
	primary: (
		stack: "Roboto, Helvetica, Arial, sans-serif",
		weights: (
			normal: 400,
			bold: 700
		)
	),

	secondary: (
		stack: "'Roboto Slab', Georgia, Utopia, Charter, serif",	
		weights: (
			normal: 400,
			bold: 700
		)
	)
);


// Aangezien in mijn body al primary font-family wordt ingeladen
// hoef ik dat niet te doen voor bij teksten die deze font gebruiken
// Geldt ook voor font-weight?

$fonts: (
	base: (
		font-family: primary,
        font-weight: normal,
        font-size: 18,
        line-height: 28
    ),

	small: (
        font-size: 16,
        line-height: 24
    ),

    large: (
        font-size: 20,
        line-height: 32
    ),

	heading1: (
		font-family: secondary,
        font-weight: bold,
        font-size: 42,
        line-height: 42
    ),

    heading2: (
    	font-family: secondary,
        font-weight: bold,
        font-size: 15,
        line-height: 19
    ),

    heading3: (
    	font-family: secondary,
        font-weight: normal,
        font-size: 28,
        line-height: 16,
    ),

    heading4: (
    	font-family: secondary,
        font-weight: bold,
        font-size: 20,
        line-height: 20
    ),

    nav {
        font-family: primary,
        font-weight: normal,
        font-size: 18,
        line-height: 18
    }
);

// code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
// pre: "Courier 10 Pitch", Courier, monospace;
