/* Headings
-------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-family: get-font-family(secondary);
    font-weight: get-font-weight(bold, secondary);
    font-size: rem(42);
    line-height: lh(42,42);
    color: $curious-blue;
}

h2 {
    font-family: get-font-family(secondary);
    font-weight: get-font-weight(bold, secondary);
    font-size: rem(34);
    line-height: lh(34,34);
    color: $river-bed;
}

h3 {
    font-family: get-font-family(secondary);
    font-weight: get-font-weight(normal, secondary);
    font-size: rem(28);
    line-height: lh(28,28);
    color: $curious-blue;
}

h4,h5,h6 {
    font-family: get-font-family(secondary);
    font-weight: get-font-weight(bold, secondary);
    font-size: rem(20);
    line-height: lh(20,20);
    color: $curious-blue;
}

/* Reset headings */
%reset-heading {
    font-family: get-font-family(secondary);
    font-weight: get-font-weight(bold, secondary);
    font-size: 1rem;
    line-height: 1;
    color: inherit;
}
