/* Lists
-------------------------------------------------------------------*/
ul { list-style-type: disc; }
ol { list-style-type: decimal; }

ul, ol {
    padding: 0;
    margin-left: 2.5rem;
    margin-bottom: $vertical__space;

    ul, ol {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    li {
        margin-bottom: 0.25rem;
    }
}

/* Reset lists */
%reset-list {
    margin: 0;
    list-style: none;

    li {
        margin: 0;
    }
}

/* Special lists */
.checklist {
    list-style: none;

    li {
        &:before {
            @include icon(fa-check);
            margin-right: 0.5em;
        }
    }
}