@charset "UTF-8";
/* Reset
-------------------------------------------------------------------*/
@import url(normalize.min.css);
/* Box-sizing
-------------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  position: relative;
  height: 100%;
}

/* Body
-------------------------------------------------------------------*/
html {
  font-size: 112.5%;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.66667rem;
  color: #262c30;
}

/* Links
-------------------------------------------------------------------*/
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease-in-out 0s;
}

/* Links in content */
.entry-content a:not(.button), .textwidget a:not(.button), .wp-editor a:not(.button) {
  color: #4ca3df;
  text-decoration: underline;
}

.entry-content a:not(.button):hover, .entry-content a:not(.button):active, .entry-content a:not(.button):focus, .textwidget a:not(.button):hover, .textwidget a:not(.button):active, .textwidget a:not(.button):focus, .wp-editor a:not(.button):hover, .wp-editor a:not(.button):active, .wp-editor a:not(.button):focus {
  color: #227dbd;
}

/* Headings
-------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  margin-bottom: 1.66667rem;
  font-size: 2.33333rem;
  line-height: 2.5rem;
  font-family: "Roboto Slab", "Georgia", "Utopia", "Charter", serif;
  font-weight: 700;
  color: #3a9bde;
}

h2 {
  margin-bottom: 2.5rem;
  font-size: 1.83333rem;
  line-height: 2.5rem;
  font-family: "Roboto Slab", "Georgia", "Utopia", "Charter", serif;
  font-weight: 700;
  color: #3a9bde;
}

h3 {
  margin-bottom: 1.66667rem;
  font-size: 1.33333rem;
  line-height: 1.66667rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #3a9bde;
}

h4, h5, h6 {
  margin-bottom: 0;
  font-size: 1.11111rem;
  line-height: 1.66667rem;
  font-family: "Roboto Slab", "Georgia", "Utopia", "Charter", serif;
  font-weight: 700;
  color: #3a9bde;
}

.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6, .textwidget h1, .textwidget h2, .textwidget h3, .textwidget h4, .textwidget h5, .textwidget h6, .wp-editor h1, .wp-editor h2, .wp-editor h3, .wp-editor h4, .wp-editor h5, .wp-editor h6 {
  text-align: center;
}

.entry-content h1:first-child, .entry-content h2:first-child, .entry-content h3:first-child, .entry-content h4:first-child, .entry-content h5:first-child, .entry-content h6:first-child, .textwidget h1:first-child, .textwidget h2:first-child, .textwidget h3:first-child, .textwidget h4:first-child, .textwidget h5:first-child, .textwidget h6:first-child, .wp-editor h1:first-child, .wp-editor h2:first-child, .wp-editor h3:first-child, .wp-editor h4:first-child, .wp-editor h5:first-child, .wp-editor h6:first-child {
  margin-top: 0;
}

.entry-content h1, .textwidget h1, .wp-editor h1 {
  margin-top: 1.66667rem;
}

.entry-content h2, .textwidget h2, .wp-editor h2 {
  margin-top: 2.5rem;
}

.entry-content h3, .textwidget h3, .wp-editor h3 {
  margin-top: 0;
}

.entry-content h4, .entry-content h5, .entry-content h6, .textwidget h4, .textwidget h5, .textwidget h6, .wp-editor h4, .wp-editor h5, .wp-editor h6 {
  margin-top: 0;
}

/* Reset headings */
.entry-subtitle,
.subtitle, .archive-knowledgebase_post .content-main .knowledgebase_post .entry-title,
.taxonomy-knowledgebase_category .content-main .knowledgebase_post .entry-title {
  text-transform: none;
  color: inherit;
}

.entry-subtitle,
.subtitle {
  display: block;
  line-height: 1.66667rem;
  font-weight: 400;
  color: #48555e;
}

h1 .entry-subtitle, h1
.subtitle {
  margin-top: 0.41667rem;
  margin-bottom: -0.41667rem;
  font-size: 1.5rem;
}

h2 .entry-subtitle, h2
.subtitle {
  font-size: 1.33333rem;
}

/* Link in title */
.entry-title a:hover, .entry-title a:active, .entry-title a:focus,
.widget-title a:hover,
.widget-title a:active,
.widget-title a:focus {
  color: #4ca3df;
}

/* Titles */
h2.entry-title {
  margin-bottom: 1.66667rem;
}

.gsection_title {
  margin-top: 1.66667rem;
  margin-bottom: 1.66667rem;
  /* Reverse default heading style */
}

.gsection_title:first-child {
  margin-top: 1.66667rem;
}

/* Lists
-------------------------------------------------------------------*/
ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul, ol {
  padding: 0;
  margin-top: 0;
  margin-left: 2.5rem;
  margin-bottom: 1.66667rem;
}

ul ul, ul ol, ol ul, ol ol {
  margin-bottom: 0;
  margin-top: 0.83333rem;
}

ul li, ol li {
  margin-bottom: 0.83333rem;
}

/* Reset lists */
.social-media {
  margin: 0;
  list-style: none;
}

.social-media ul, .social-media ol {
  margin-top: 0;
}

.social-media li {
  margin-bottom: 0;
}

/* Special lists */
ul.checklist {
  list-style: none;
}

ul.checklist li:before {
  display: inline-block;
  font: normal normal normal 1rem/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-right: 0.5em;
}

/* Tables
-------------------------------------------------------------------*/
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.66667rem;
}

th,
td {
  padding: 0.83333rem;
  text-align: left;
  vertical-align: middle;
}

th {
  background-color: #4ca3df;
  color: #ffffff;
}

tr.even {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Reset table */
/* Font Styles
-------------------------------------------------------------------*/
b, strong {
  font-weight: 700;
}

i, em, mark, cite {
  font-style: italic;
}

/* Paragraphs
-------------------------------------------------------------------*/
p {
  margin-top: 0;
  margin-bottom: 1.66667rem;
}

p.intro {
  font-weight: 700;
}

/* Horizontal Rule
-------------------------------------------------------------------*/
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border: 0;
}

/* Blockquotes
-------------------------------------------------------------------*/
blockquote {
  margin: 1.66667rem 0;
  padding: 0 0 0 1.5rem;
  font-style: italic;
}

blockquote i,
blockquote em,
blockquote cite {
  font-style: normal;
}

/* Images
-------------------------------------------------------------------*/
img {
  max-width: 100%;
  height: auto;
}

/* Forms
-------------------------------------------------------------------*/
button,
input,
select,
textarea {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.66667rem;
}

input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]), input:not([type]),
select,
textarea {
  padding: 4px 6px;
  border: 1px solid #48555e;
  border-radius: 3px;
}

input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):hover, input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):active, input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):focus, input:not([type]):hover, input:not([type]):active, input:not([type]):focus,
select:hover,
select:active,
select:focus,
textarea:hover,
textarea:active,
textarea:focus {
  border-color: #4ca3df;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

/* Style label of checked input */
input:checked + label {
  text-decoration: underline;
}

/* Gravity Forms */
/* Buttons
-------------------------------------------------------------------*/
a.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
  display: inline-block;
  padding: 0 1.333rem;
  border: none;
  border-radius: 6px;
  font-size: type-scale(0);
  line-height: 2.5rem;
  font-weight: 700;
  background-color: #4ca3df;
  color: #ffffff;
}

a.button + a.button, button + a.button, input[type="button"] + a.button, input[type="reset"] + a.button, input[type="submit"] + a.button, a.button + button, button + button, input[type="button"] + button, input[type="reset"] + button, input[type="submit"] + button, a.button + input[type="button"], button + input[type="button"], input[type="button"] + input[type="button"], input[type="reset"] + input[type="button"], input[type="submit"] + input[type="button"], a.button + input[type="reset"], button + input[type="reset"], input[type="button"] + input[type="reset"], input[type="reset"] + input[type="reset"], input[type="submit"] + input[type="reset"], a.button + input[type="submit"], button + input[type="submit"], input[type="button"] + input[type="submit"], input[type="reset"] + input[type="submit"], input[type="submit"] + input[type="submit"] {
  margin-left: 8px;
}

a.button:hover, a.button:active, a.button:focus, button:hover, button:active, button:focus, input[type="button"]:hover, input[type="button"]:active, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:active, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
  background-color: #4493c9;
}

a.button.transparent, button.transparent, input[type="button"].transparent, input[type="reset"].transparent, input[type="submit"].transparent {
  background-color: transparent;
  color: #4ca3df;
}

a.button.transparent:hover, a.button.transparent:active, a.button.transparent:focus, button.transparent:hover, button.transparent:active, button.transparent:focus, input[type="button"].transparent:hover, input[type="button"].transparent:active, input[type="button"].transparent:focus, input[type="reset"].transparent:hover, input[type="reset"].transparent:active, input[type="reset"].transparent:focus, input[type="submit"].transparent:hover, input[type="submit"].transparent:active, input[type="submit"].transparent:focus {
  color: #48555e;
}

a.button.highlight, button.highlight, input[type="button"].highlight, input[type="reset"].highlight, input[type="submit"].highlight {
  background-color: #e15445;
  color: #ffffff;
}

a.button.highlight:hover, a.button.highlight:active, a.button.highlight:focus, button.highlight:hover, button.highlight:active, button.highlight:focus, input[type="button"].highlight:hover, input[type="button"].highlight:active, input[type="button"].highlight:focus, input[type="reset"].highlight:hover, input[type="reset"].highlight:active, input[type="reset"].highlight:focus, input[type="submit"].highlight:hover, input[type="submit"].highlight:active, input[type="submit"].highlight:focus {
  background-color: #e5695b;
}

/* Create small space if buttons are posted above each other */
a.button + br + a.button {
  margin-top: 4px;
}

.home .content-header {
  background: #4ca3df url("../images/webdesign-header-image.jpg") no-repeat center bottom;
}

.home .content-main .columns {
  margin-bottom: -1.66667rem;
}

/* Archive for Posts & Post Category */
.taxonomy-category main .content-main > .wrap,
.blog main .content-main > .wrap {
  margin-top: 2.5rem;
  margin-bottom: 3.33333rem;
}

.taxonomy-category main .entry:not(:last-of-type),
.blog main .entry:not(:last-of-type) {
  margin-bottom: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #eeeeee;
}

.singular main .content-main > .wrap {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.singular main .content-main > .wrap .entry-byline {
  margin-top: -0.83333rem;
  margin-bottom: 0.83333rem;
  text-align: center;
}

.archive-knowledgebase_post .content-main > .wrap,
.taxonomy-knowledgebase_category .content-main > .wrap {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.archive-knowledgebase_post .content-main .knowledgebase_post,
.taxonomy-knowledgebase_category .content-main .knowledgebase_post {
  margin-bottom: 0;
  border-bottom: 1px solid #eeeeee;
}

.archive-knowledgebase_post .content-main .knowledgebase_post:last-of-type,
.taxonomy-knowledgebase_category .content-main .knowledgebase_post:last-of-type {
  border-bottom: none;
}

.archive-knowledgebase_post .content-main .knowledgebase_post .entry-title,
.taxonomy-knowledgebase_category .content-main .knowledgebase_post .entry-title {
  text-align: center;
  margin-bottom: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1048px) {
  .archive-knowledgebase_post .content-main .knowledgebase_post .entry-title,
  .taxonomy-knowledgebase_category .content-main .knowledgebase_post .entry-title {
    text-align: left;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 528px) {
  .archive-knowledgebase_post .content-main .knowledgebase_post .entry-title:before,
  .taxonomy-knowledgebase_category .content-main .knowledgebase_post .entry-title:before {
    display: inline-block;
    font: normal normal normal 1rem/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    width: 1.5em;
    padding-left: 0.11111em;
    font-size: 0.88889em;
    text-align: left;
  }
}

.archive-knowledgebase_post .content-main .knowledgebase_post a:hover, .archive-knowledgebase_post .content-main .knowledgebase_post a:active, .archive-knowledgebase_post .content-main .knowledgebase_post a:focus,
.taxonomy-knowledgebase_category .content-main .knowledgebase_post a:hover,
.taxonomy-knowledgebase_category .content-main .knowledgebase_post a:active,
.taxonomy-knowledgebase_category .content-main .knowledgebase_post a:focus {
  color: #4ca3df;
}

.kennisbank {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

@media (min-width: 1048px) {
  .kennisbank {
    margin: 0 -90px;
  }
}

.kennisbank .kennisbank-category {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  margin-bottom: 1.66667rem;
  text-align: center;
}

@media (min-width: 1048px) {
  .kennisbank .kennisbank-category {
    -webkit-flex-basis: calc(100% / 2 - ((1 * 48px) / 2));
        -ms-flex-preferred-size: calc(100% / 2 - ((1 * 48px) / 2));
            flex-basis: calc(100% / 2 - ((1 * 48px) / 2));
    text-align: left;
  }
}

.kennisbank .kennisbank-category .category-title {
  margin-bottom: 1.25rem;
}

.kennisbank .kennisbank-category .category-title a:before {
  display: inline-block;
  font: normal normal normal 1rem/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  padding-right: 0.25em;
}

.kennisbank .kennisbank-category .category-title a:hover, .kennisbank .kennisbank-category .category-title a:active, .kennisbank .kennisbank-category .category-title a:focus {
  color: #4493c9;
}

.kennisbank .kennisbank-category .category-list {
  margin-bottom: 1.25rem;
}

.kennisbank .kennisbank-category footer a:hover, .kennisbank .kennisbank-category footer a:active, .kennisbank .kennisbank-category footer a:focus {
  color: #4ca3df;
}

.kennisbank .kennisbank-category footer a:before {
  display: inline-block;
  font: normal normal normal 1rem/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  padding-right: 0.25em;
}

/* Kennisbank archive */
.archive-knowledgebase_post .archive-title:before {
  display: inline-block;
  font: normal normal normal 1rem/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  padding-right: 0.25em;
}

.archive-knowledgebase_post .content-main .knowledgebase_post .entry-title {
  margin-top: 0.41667rem;
  margin-bottom: 0.41667rem;
  font-size: 1.16667rem;
  line-height: 1.66667rem;
}

/* Kennisbank category archive */
.taxonomy-knowledgebase_category .archive-title:before {
  display: inline-block;
  font: normal normal normal 1rem/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  padding-right: 0.25em;
}

.taxonomy-knowledgebase_category .content-main .knowledgebase_post .entry-title {
  margin-top: 0.41667rem;
  margin-bottom: 0.41667rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

/* Images
-------------------------------------------------------------------*/
a.image-wrap {
  overflow: hidden;
}

a.image-wrap img {
  display: block;
  transition: all 0.4s ease;
}

a.image-wrap:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* Alignments
-------------------------------------------------------------------*/
.alignleft,
.alignright {
  display: block;
  margin-bottom: 1.66667rem;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-top: 0.33333rem;
  margin-right: auto;
}

@media (min-width: 528px) {
  .alignleft {
    display: inline;
    float: left;
    margin-right: 2rem;
    margin-top: 0.33333rem;
  }
  .alignright {
    display: inline;
    float: right;
    margin-left: 2rem;
    margin-top: 0.33333rem;
  }
}

.columns {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.columns .column, .columns > div, .columns > p {
  margin-bottom: 1.66667rem;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
}

@media (min-width: 748px) {
  .columns-2 .column, .columns-2 > div, .columns-2 > p {
    -webkit-flex-basis: calc(100% / 2 - ((1 * 36px) / 2));
        -ms-flex-preferred-size: calc(100% / 2 - ((1 * 36px) / 2));
            flex-basis: calc(100% / 2 - ((1 * 36px) / 2));
    text-align: justify;
  }
}

@media (min-width: 1048px) {
  .columns-2 {
    margin-left: -60px;
    margin-right: -60px;
  }
}

@media (min-width: 748px) {
  .columns-3 .column {
    -webkit-flex-basis: calc(100% / 2 - ((1 * 36px) / 2));
        -ms-flex-preferred-size: calc(100% / 2 - ((1 * 36px) / 2));
            flex-basis: calc(100% / 2 - ((1 * 36px) / 2));
  }
}

@media (min-width: 1048px) {
  .columns-3 {
    margin-left: -60px;
    margin-right: -60px;
  }
}

@media (min-width: 1128px) {
  .columns-3 {
    margin-left: -180px;
    margin-right: -180px;
  }
  .columns-3 .column {
    -webkit-flex-basis: calc(100% / 3 - ((2 * 36px) / 3));
        -ms-flex-preferred-size: calc(100% / 3 - ((2 * 36px) / 3));
            flex-basis: calc(100% / 3 - ((2 * 36px) / 3));
  }
}

@media (min-width: 1048px) {
  .columns-4 {
    margin-left: -180px;
    margin-right: -180px;
  }
}

.columns-4 .column {
  -webkit-flex-basis: calc(100% / 4 - ((3 * 36px) / 4));
      -ms-flex-preferred-size: calc(100% / 4 - ((3 * 36px) / 4));
          flex-basis: calc(100% / 4 - ((3 * 36px) / 4));
}

.social-media li {
  display: inline-block;
}

.social-media li {
  margin-right: 0.5rem;
}

.social-media li:last-child {
  margin-right: 0;
}

.social-media i:before {
  display: inline-block;
  font: normal normal normal 1rem/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1.55556rem;
  padding: 0.33333rem 0.22222rem 0.33333rem;
  font-size: 1rem;
  text-align: center;
  color: #fff;
}

.social-media .twitter i:before {
  content: "";
}

.social-media .facebook i:before {
  content: "";
}

.social-media .instagram i:before {
  content: "";
}

.social-media .google-plus i:before {
  content: "";
}

.social-media .pinterest i:before {
  content: "";
}

.social-media .facebook i:before {
  background-color: #3b5998;
}

.social-media .facebook:hover i:before {
  background-color: #4264aa;
}

.social-media .twitter i:before {
  background-color: #00aced;
}

.social-media .twitter:hover i:before {
  background-color: #08bbff;
}

.social-media .googleplus i:before {
  background-color: #dd4b39;
}

.social-media .googleplus:hover i:before {
  background-color: #e15f4f;
}

.social-media .google-plus i:before {
  background-color: #dd4b39;
}

.social-media .google-plus:hover i:before {
  background-color: #e15f4f;
}

.social-media .youtube i:before {
  background-color: #bb0000;
}

.social-media .youtube:hover i:before {
  background-color: #d50000;
}

.social-media .linkedin i:before {
  background-color: #007bb5;
}

.social-media .linkedin:hover i:before {
  background-color: #008ccf;
}

.social-media .instagram i:before {
  background-color: #125688;
}

.social-media .instagram:hover i:before {
  background-color: #15649f;
}

.social-media .whatsApp i:before {
  background-color: #4dc247;
}

.social-media .whatsApp:hover i:before {
  background-color: #60c85a;
}

.social-media .pinterest i:before {
  background-color: #cb2027;
}

.social-media .pinterest:hover i:before {
  background-color: #dd272f;
}

.social-media .vine i:before {
  background-color: #00bf8f;
}

.social-media .vine:hover i:before {
  background-color: #00d9a2;
}

.social-media .snapchat i:before {
  background-color: #fffc00;
}

.social-media .snapchat:hover i:before {
  background-color: #fffc1a;
}

.social-media .quora i:before {
  background-color: #a82400;
}

.social-media .quora:hover i:before {
  background-color: #c22900;
}

.social-media .dropbox i:before {
  background-color: #007ee5;
}

.social-media .dropbox:hover i:before {
  background-color: #008cff;
}

.social-media .flickr i:before {
  background-color: #ff0084;
}

.social-media .flickr:hover i:before {
  background-color: #ff1a90;
}

.social-media .tumblr i:before {
  background-color: #32506d;
}

.social-media .tumblr:hover i:before {
  background-color: #3a5d7e;
}

.social-media .vk i:before {
  background-color: #45668e;
}

.social-media .vk:hover i:before {
  background-color: #4d729f;
}

.gallery {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: equalize;
      -ms-flex-align: equalize;
          align-items: equalize;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: -6px;
  margin-bottom: 1.33333rem;
}

.gallery .gallery-item {
  margin: 0 auto;
  text-align: center;
  padding: 6px;
}

.gallery .gallery-item img {
  display: block;
  width: 100%;
}

@media (min-width: 528px) {
  .gallery-columns-2 .gallery-item {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }
  .gallery-columns-3 .gallery-item {
    -webkit-flex-basis: 33.3333%;
        -ms-flex-preferred-size: 33.3333%;
            flex-basis: 33.3333%;
  }
  .gallery-columns-4 .gallery-item {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
  }
  .gallery-columns-5 .gallery-item {
    -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
  }
  .gallery-columns-6 .gallery-item {
    -webkit-flex-basis: 16.6666%;
        -ms-flex-preferred-size: 16.6666%;
            flex-basis: 16.6666%;
  }
}

.wp-caption {
  margin-bottom: 1rem;
  font-size: inherit;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075rem 0;
}

.wp-caption-text {
  text-align: center;
}

.wp-smiley,
.emoji {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  height: 1em;
  width: 1em;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Editor Style specifics
============================================================================ */
/* Main content editor */
/* Intro content editor */
body.content,
body.introcontent {
  max-width: 720px;
  margin: 1rem auto;
}

/* Other content editors (ex. black studio tinymce widget) */
body:not(.content):not(.introcontent) {
  margin: 9px 10px;
}

/* Fix weird br after linked image which causes layout problems */
br[data-mce-bogus]:not(:only-child),
br[type='_moz'],
br[type='_moz'] + br[data-mce-bogus] {
  visibility: hidden;
  display: none;
}
