@charset "UTF-8";
/* Reset
-------------------------------------------------------------------*/
@import url(normalize.min.css);
/* Box-sizing
-------------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  position: relative;
  height: 100%;
}

/* Body
-------------------------------------------------------------------*/
html {
  font-size: 112.5%;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.66667rem;
  color: #424d54;
}

/* Links
-------------------------------------------------------------------*/
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease-in-out 0s;
}

/* Links in content */
.entry-content a:not(.button), .textwidget a:not(.button), .wp-editor a:not(.button) {
  color: #4ca3df;
  text-decoration: underline;
}

.entry-content a:not(.button):hover, .entry-content a:not(.button):focus, .entry-content a:not(.button):active, .textwidget a:not(.button):hover, .textwidget a:not(.button):focus, .textwidget a:not(.button):active, .wp-editor a:not(.button):hover, .wp-editor a:not(.button):focus, .wp-editor a:not(.button):active {
  color: #227dbd;
}

/* Headings
-------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #3a9bde;
}

h1 {
  margin-bottom: 1.66667rem;
  font-size: 2.33333rem;
  line-height: 2.5rem;
  font-family: "Roboto Slab", "Georgia", "Utopia", "Charter", serif;
  font-weight: 700;
  text-align: center;
}

h2 {
  margin-bottom: 2.5rem;
  font-size: 1.94444rem;
  line-height: 2.5rem;
  font-family: "Roboto Slab", "Georgia", "Utopia", "Charter", serif;
  font-weight: 700;
}

h3 {
  margin-bottom: 0.55555rem;
  font-size: 1.44444rem;
  line-height: 1.66667rem;
  font-family: "Roboto Slab", "Georgia", "Utopia", "Charter", serif;
  font-weight: 400;
}

h4, h5, h6 {
  margin-bottom: 0.08333rem;
  font-size: 1.05556rem;
  line-height: 1.33333rem;
  font-family: "Roboto Slab", "Georgia", "Utopia", "Charter", serif;
  font-weight: 700;
}

.entry-content h1, .textwidget h1, .wp-editor h1 {
  padding-top: 1.66667rem;
  margin-bottom: 3.33333rem;
  text-align: center;
}

.entry-content h2, .textwidget h2, .wp-editor h2 {
  padding-top: 0.83333rem;
  text-align: center;
}

.entry-content h3, .textwidget h3, .wp-editor h3 {
  padding-top: 1.1111rem;
}

.entry-content h4, .textwidget h4, .wp-editor h4 {
  padding-top: 0.25rem;
}

/* Subtitle (inside h1 or h2) */
.entry-subtitle,
.subtitle {
  display: block;
  line-height: 1.66667rem;
  font-weight: 400;
  color: rgba(66, 77, 84, 0.75);
  font-size: 1.44444rem;
}

h1 .entry-subtitle, h1
.subtitle {
  margin-top: 0.20833rem;
  margin-bottom: -0.20833rem;
  font-size: 1.66667rem;
}

/* Link in title */
.entry-title a:hover, .entry-title a:focus, .entry-title a:active,
.widget-title a:hover,
.widget-title a:focus,
.widget-title a:active {
  color: #4ca3df;
}

/* Titles */
h2.entry-title {
  margin-bottom: 1.66667rem;
}

.widget-title {
  margin-bottom: 1.66667rem;
}

.gsection_title {
  margin-top: 0.83333rem;
}

/* Lists
-------------------------------------------------------------------*/
ul, ol {
  padding: 0;
  margin-top: 0;
  margin-left: 2.5rem;
  margin-bottom: 1.66667rem;
}

ul ul, ul ol, ol ul, ol ol {
  margin-bottom: 0;
  margin-top: 0.83333rem;
}

ul li, ol li {
  margin-bottom: 0.83333rem;
  padding-left: 0.33333rem;
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}

/* Reset lists */
/* Special lists */
ul.checklist {
  list-style: none;
}

ul.checklist li:before {
  display: inline-block;
  font: normal normal normal 1rem/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-right: 0.5em;
}

/* Tables
-------------------------------------------------------------------*/
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.66667rem;
}

th,
td {
  padding: 0.83333rem;
  text-align: left;
  vertical-align: middle;
}

th {
  background-color: #4ca3df;
  color: #ffffff;
}

tr.even {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Reset table */
/* Font Styles
-------------------------------------------------------------------*/
b, strong {
  font-weight: 700;
}

i, em, mark, cite {
  font-style: italic;
}

/* Paragraphs
-------------------------------------------------------------------*/
p {
  margin-top: 0;
  margin-bottom: 1.66667rem;
}

p.intro {
  font-weight: 700;
}

/* Horizontal Rule
-------------------------------------------------------------------*/
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border: 0;
}

/* Blockquotes
-------------------------------------------------------------------*/
blockquote {
  margin: 2.5rem 0;
  padding: 0 0 0 3rem;
  font-size: 1.44444rem;
  font-style: italic;
  color: #a9bdcc;
}

blockquote i,
blockquote em,
blockquote cite {
  font-style: normal;
}

/* Images
-------------------------------------------------------------------*/
img {
  max-width: 100%;
  height: auto;
}

/* Forms
-------------------------------------------------------------------*/
input,
select,
textarea {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.66667rem;
}

input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]), input:not([type]),
select,
textarea {
  padding: 4px 6px;
  border: 1px solid rgba(66, 77, 84, 0.6);
  border-radius: 4px;
}

input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):hover, input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):focus, input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):active, input:not([type]):hover, input:not([type]):focus, input:not([type]):active,
select:hover,
select:focus,
select:active,
textarea:hover,
textarea:focus,
textarea:active {
  border-color: #4ca3df;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

/* Style label of checked input */
input:checked + label {
  text-decoration: underline;
}

/* Buttons
-------------------------------------------------------------------*/
button, .button, input[type="button"], input[type="reset"], input[type="submit"] {
  display: inline-block;
  padding: 0.5rem 1.3333rem;
  border-radius: 4px;
  border-style: solid;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.66667rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
}

button, button.default, .button, .button.default, input[type="button"], input[type="button"].default, input[type="reset"], input[type="reset"].default, input[type="submit"], input[type="submit"].default {
  border: 1px solid transparent;
  background-color: #4ca3df;
  color: #ffffff;
}

button:hover, button:focus, button:active, button.default:hover, button.default:focus, button.default:active, .button:hover, .button:focus, .button:active, .button.default:hover, .button.default:focus, .button.default:active, input[type="button"]:hover, input[type="button"]:focus, input[type="button"]:active, input[type="button"].default:hover, input[type="button"].default:focus, input[type="button"].default:active, input[type="reset"]:hover, input[type="reset"]:focus, input[type="reset"]:active, input[type="reset"].default:hover, input[type="reset"].default:focus, input[type="reset"].default:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active, input[type="submit"].default:hover, input[type="submit"].default:focus, input[type="submit"].default:active {
  background-color: #4493c9;
}

button.transparent, .button.transparent, input[type="button"].transparent, input[type="reset"].transparent, input[type="submit"].transparent {
  border: 1px solid transparent;
  background-color: transparent;
  color: #4ca3df;
}

button.transparent:hover, button.transparent:focus, button.transparent:active, .button.transparent:hover, .button.transparent:focus, .button.transparent:active, input[type="button"].transparent:hover, input[type="button"].transparent:focus, input[type="button"].transparent:active, input[type="reset"].transparent:hover, input[type="reset"].transparent:focus, input[type="reset"].transparent:active, input[type="submit"].transparent:hover, input[type="submit"].transparent:focus, input[type="submit"].transparent:active {
  color: #424d54;
}

button.highlight, .button.highlight, input[type="button"].highlight, input[type="reset"].highlight, input[type="submit"].highlight {
  border: 1px solid transparent;
  background-color: #e15445;
  color: #ffffff;
}

button.highlight:hover, button.highlight:focus, button.highlight:active, .button.highlight:hover, .button.highlight:focus, .button.highlight:active, input[type="button"].highlight:hover, input[type="button"].highlight:focus, input[type="button"].highlight:active, input[type="reset"].highlight:hover, input[type="reset"].highlight:focus, input[type="reset"].highlight:active, input[type="submit"].highlight:hover, input[type="submit"].highlight:focus, input[type="submit"].highlight:active {
  background-color: #e5695b;
}

button.outline, .button.outline, input[type="button"].outline, input[type="reset"].outline, input[type="submit"].outline {
  border: 1px solid transparent;
  background-color: transparent;
  color: #4ca3df;
  border-color: #4ca3df;
}

button.outline:hover, button.outline:focus, button.outline:active, .button.outline:hover, .button.outline:focus, .button.outline:active, input[type="button"].outline:hover, input[type="button"].outline:focus, input[type="button"].outline:active, input[type="reset"].outline:hover, input[type="reset"].outline:focus, input[type="reset"].outline:active, input[type="submit"].outline:hover, input[type="submit"].outline:focus, input[type="submit"].outline:active {
  background-color: #4ca3df;
  color: #ffffff;
}

button + button, .button + button, input[type="button"] + button, input[type="reset"] + button, input[type="submit"] + button, button + .button, .button + .button, input[type="button"] + .button, input[type="reset"] + .button, input[type="submit"] + .button, button + input[type="button"], .button + input[type="button"], input[type="button"] + input[type="button"], input[type="reset"] + input[type="button"], input[type="submit"] + input[type="button"], button + input[type="reset"], .button + input[type="reset"], input[type="button"] + input[type="reset"], input[type="reset"] + input[type="reset"], input[type="submit"] + input[type="reset"], button + input[type="submit"], .button + input[type="submit"], input[type="button"] + input[type="submit"], input[type="reset"] + input[type="submit"], input[type="submit"] + input[type="submit"] {
  margin-left: 8px;
}

/* Create small space if buttons are posted above each other */
a.button + br + a.button {
  margin-top: 4px;
}

/* Images
-------------------------------------------------------------------*/
a.image-wrap {
  overflow: hidden;
}

a.image-wrap img {
  display: block;
  transition: all 0.4s ease;
}

a.image-wrap:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* Alignments
-------------------------------------------------------------------*/
.alignleft,
.alignright {
  display: block;
  margin-bottom: 1.66667rem;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-top: 0.33333rem;
  margin-right: auto;
}

@media (min-width: 544px) {
  .alignleft {
    display: inline;
    float: left;
    margin-right: 2rem;
    margin-top: 0.33333rem;
  }
  .alignright {
    display: inline;
    float: right;
    margin-left: 2rem;
    margin-top: 0.33333rem;
  }
}

.columns {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.columns .column, .columns > div, .columns > p {
  margin-bottom: 1.66667rem;
  min-height: 1px;
}

@media (min-width: 768px) {
  .columns-2 .column, .columns-2 > div, .columns-2 > p {
    -webkit-flex: 0 0 calc( 100% / 2 * 1 - 1 * 36px / 2);
        -ms-flex: 0 0 calc( 100% / 2 * 1 - 1 * 36px / 2);
            flex: 0 0 calc( 100% / 2 * 1 - 1 * 36px / 2);
  }
}

@media (min-width: 768px) {
  .columns-3 .column {
    -webkit-flex: 0 0 calc( 100% / 2 * 1 - 1 * 36px / 2);
        -ms-flex: 0 0 calc( 100% / 2 * 1 - 1 * 36px / 2);
            flex: 0 0 calc( 100% / 2 * 1 - 1 * 36px / 2);
  }
}

@media (min-width: 1120px) {
  .columns-3 .column {
    -webkit-flex: 0 0 calc( 100% / 3 * 1 - 2 * 36px / 3);
        -ms-flex: 0 0 calc( 100% / 3 * 1 - 2 * 36px / 3);
            flex: 0 0 calc( 100% / 3 * 1 - 2 * 36px / 3);
  }
}

.columns-4 .column {
  -webkit-flex: 0 0 calc( 100% / 4 * 1 - 3 * 36px / 4);
      -ms-flex: 0 0 calc( 100% / 4 * 1 - 3 * 36px / 4);
          flex: 0 0 calc( 100% / 4 * 1 - 3 * 36px / 4);
}

.social-media {
  margin: 0;
  list-style: none;
}

.social-media ul, .social-media ol {
  margin-top: 0;
}

.social-media li {
  margin-bottom: 0;
  padding-left: 0;
}

.social-media li {
  display: inline-block;
}

.social-media li {
  margin-right: 0.5rem;
}

.social-media li:last-child {
  margin-right: 0;
}

.social-media i:before {
  display: inline-block;
  font: normal normal normal 1rem/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1.55556rem;
  padding: 0.33333rem 0.22222rem 0.33333rem;
  font-size: 1rem;
  text-align: center;
  color: #fff;
}

.social-media .twitter i:before {
  content: "";
}

.social-media .facebook i:before {
  content: "";
}

.social-media .instagram i:before {
  content: "";
}

.social-media .google-plus i:before {
  content: "";
}

.social-media .pinterest i:before {
  content: "";
}

.social-media .facebook i:before {
  background-color: #3b5998;
}

.social-media .facebook:hover i:before {
  background-color: #4264aa;
}

.social-media .twitter i:before {
  background-color: #00aced;
}

.social-media .twitter:hover i:before {
  background-color: #08bbff;
}

.social-media .googleplus i:before {
  background-color: #dd4b39;
}

.social-media .googleplus:hover i:before {
  background-color: #e15f4f;
}

.social-media .google-plus i:before {
  background-color: #dd4b39;
}

.social-media .google-plus:hover i:before {
  background-color: #e15f4f;
}

.social-media .youtube i:before {
  background-color: #bb0000;
}

.social-media .youtube:hover i:before {
  background-color: #d50000;
}

.social-media .linkedin i:before {
  background-color: #007bb5;
}

.social-media .linkedin:hover i:before {
  background-color: #008ccf;
}

.social-media .instagram i:before {
  background-color: #125688;
}

.social-media .instagram:hover i:before {
  background-color: #15649f;
}

.social-media .whatsApp i:before {
  background-color: #4dc247;
}

.social-media .whatsApp:hover i:before {
  background-color: #60c85a;
}

.social-media .pinterest i:before {
  background-color: #cb2027;
}

.social-media .pinterest:hover i:before {
  background-color: #dd272f;
}

.social-media .vine i:before {
  background-color: #00bf8f;
}

.social-media .vine:hover i:before {
  background-color: #00d9a2;
}

.social-media .snapchat i:before {
  background-color: #fffc00;
}

.social-media .snapchat:hover i:before {
  background-color: #fffc1a;
}

.social-media .quora i:before {
  background-color: #a82400;
}

.social-media .quora:hover i:before {
  background-color: #c22900;
}

.social-media .dropbox i:before {
  background-color: #007ee5;
}

.social-media .dropbox:hover i:before {
  background-color: #008cff;
}

.social-media .flickr i:before {
  background-color: #ff0084;
}

.social-media .flickr:hover i:before {
  background-color: #ff1a90;
}

.social-media .tumblr i:before {
  background-color: #32506d;
}

.social-media .tumblr:hover i:before {
  background-color: #3a5d7e;
}

.social-media .vk i:before {
  background-color: #45668e;
}

.social-media .vk:hover i:before {
  background-color: #4d729f;
}

.gallery {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: equalize;
      -ms-flex-align: equalize;
          align-items: equalize;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: -6px;
  margin-bottom: 1.33333rem;
}

.gallery .gallery-item {
  margin: 0 auto;
  text-align: center;
  padding: 6px;
}

.gallery .gallery-item img {
  display: block;
  width: 100%;
}

@media (min-width: 544px) {
  .gallery-columns-2 .gallery-item {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }
  .gallery-columns-3 .gallery-item {
    -webkit-flex-basis: 33.3333%;
        -ms-flex-preferred-size: 33.3333%;
            flex-basis: 33.3333%;
  }
  .gallery-columns-4 .gallery-item {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
  }
  .gallery-columns-5 .gallery-item {
    -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
  }
  .gallery-columns-6 .gallery-item {
    -webkit-flex-basis: 16.6666%;
        -ms-flex-preferred-size: 16.6666%;
            flex-basis: 16.6666%;
  }
}

.wp-caption {
  margin-bottom: 1rem;
  font-size: inherit;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075rem 0;
}

.wp-caption-text {
  text-align: center;
}

.wp-smiley,
.emoji {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  height: 1em;
  width: 1em;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Editor Style specifics
============================================================================ */
/* Main content editor */
/* Intro content editor */
body.content,
body.introcontent {
  max-width: 840px;
  margin: 1rem auto;
}

@media (min-width: 544px) {
  body.content,
  body.introcontent {
    padding-left: 36px !important;
    padding-right: 36px !important;
  }
}

@media (min-width: 768px) {
  body.content,
  body.introcontent {
    padding-left: 90px !important;
    padding-right: 90px !important;
  }
}

/* Other content editors (ex. black studio tinymce widget) */
body:not(.content):not(.introcontent) {
  margin: 9px 10px;
}

/* Fix weird br after linked image which causes layout problems */
br[data-mce-bogus]:not(:only-child),
br[type='_moz'],
br[type='_moz'] + br[data-mce-bogus] {
  visibility: hidden;
  display: none;
}
