@charset "UTF-8";
/**
 * Font mixin
 */
/**/
/* Reset
-------------------------------------------------------------------*/
@import url(normalize.min.css);
/* Box-sizing
-------------------------------------------------------------------*/
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/* Body
-------------------------------------------------------------------*/
html {
  font-size: 112.5%;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.55556;
  color: #262c30;
}

/* Headings
-------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-family: "Roboto Slab", "Georgia", "Utopia", "Charter", serif;
  font-weight: 700;
  font-size: 2.33333rem;
  line-height: 1;
  color: #3a9bde;
}

h2 {
  font-family: "Roboto Slab", "Georgia", "Utopia", "Charter", serif;
  font-weight: 700;
  font-size: 1.88889rem;
  line-height: 1;
  color: #48555e;
}

h3 {
  font-family: "Roboto Slab", "Georgia", "Utopia", "Charter", serif;
  font-weight: 400;
  font-size: 1.55556rem;
  line-height: 1;
  color: #3a9bde;
}

h4, h5, h6 {
  font-family: "Roboto Slab", "Georgia", "Utopia", "Charter", serif;
  font-weight: 700;
  font-size: 1.11111rem;
  line-height: 1;
  color: #3a9bde;
}

/* Reset headings */
/* Links
-------------------------------------------------------------------*/
a {
  color: #262c30;
  color: inherit;
  text-decoration: underline;
  transition: all 0.2s ease-in-out 0s;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
}

/* Reset links */
a.button, button, input[type="button"], input[type="reset"], input[type="submit"], #menu-primary a, #menu-primary-mobile a, #footer a, .social-media a {
  color: inherit;
  text-decoration: none;
}

/* Lists
-------------------------------------------------------------------*/
ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul, ol {
  padding: 0;
  margin-left: 2.5rem;
  margin-bottom: 1.25rem;
}

ul ul, ul ol, ol ul, ol ol {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

ul li, ol li {
  margin-bottom: 0.25rem;
}

/* Reset lists */
#menu-primary ul, #menu-primary-mobile ul, .social-media {
  margin: 0;
  list-style: none;
}

#menu-primary ul li, #menu-primary-mobile ul li, .social-media li {
  margin: 0;
}

/* Special lists */
.checklist {
  list-style: none;
}

.checklist li:before {
  display: inline-block;
  font: normal normal normal 1rem/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  margin-right: 0.5em;
}

/* Tables
-------------------------------------------------------------------*/
table {
  width: 100%;
  margin-bottom: 1.25rem;
}

th {
  padding: 0.5rem 0;
  text-align: left;
  vertical-align: middle;
}

td {
  padding: 0.5rem 0;
  vertical-align: middle;
}

/* Reset table */
/* Font Styles
-------------------------------------------------------------------*/
b, strong {
  font-weight: 700;
}

i, em, mark, cite {
  font-style: italic;
}

/* Paragraphs
-------------------------------------------------------------------*/
p {
  margin-top: 0;
  margin-bottom: 1.25rem;
}

p.intro {
  font-weight: 700;
}

/* Horizontal Rule
-------------------------------------------------------------------*/
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  height: 2px;
}

/* Blockquotes
-------------------------------------------------------------------*/
blockquote {
  margin: 2rem 0;
  padding: 0 0 0 1.5rem;
  font-style: italic;
}

blockquote i,
blockquote em,
blockquote cite {
  font-style: normal;
}

/* Forms
-------------------------------------------------------------------*/
button,
input,
select,
textarea {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.55556;
}

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]),
select,
textarea {
  border: 1px solid #48555e;
  border-radius: 3px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

/* Style label of checked input */
input:checked + label {
  text-decoration: underline;
}

/* Gravity Forms */
/* Buttons
-------------------------------------------------------------------*/
a.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
  display: inline-block;
  border-radius: 5px;
  padding: 12px 18px;
  line-height: 1;
}

a.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: #4ca3df;
  color: #ffffff;
}

a.button:hover, a.button:active, a.button:focus, button:hover, button:active, button:focus, input[type="button"]:hover, input[type="button"]:active, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:active, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
  background-color: #4493c9;
}

a.button.highlight, button.highlight, input[type="button"].highlight, input[type="reset"].highlight, input[type="submit"].highlight {
  background-color: #e15445;
  color: #ffffff;
}

a.button.highlight:hover, a.button.highlight:active, a.button.highlight:focus, button.highlight:hover, button.highlight:active, button.highlight:focus, input[type="button"].highlight:hover, input[type="button"].highlight:active, input[type="button"].highlight:focus, input[type="reset"].highlight:hover, input[type="reset"].highlight:active, input[type="reset"].highlight:focus, input[type="submit"].highlight:hover, input[type="submit"].highlight:active, input[type="submit"].highlight:focus {
  background-color: #e5695b;
}

/* Create small space if buttons are posted above each other */
a.button + br + a.button {
  margin-top: 4px;
}

/* Site Layout
-------------------------------------------------------------------*/
#container {
  overflow: hidden;
}

/* Header
-------------------------------------------------------------------*/
#header {
  color: #ffffff;
  position: absolute;
  width: 100%;
}

#header > .wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
}

/* Reset */
/* Layout */
#menu-primary {
  -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
  /* Top level items */
  /* Top level Submenu */
}

#menu-primary .menu-items {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

#menu-primary .menu-items > .menu-item {
  display: block;
  padding-bottom: 2px;
  margin: 4px 3px;
  /* Active */
  /* On hover */
}

#menu-primary .menu-items > .menu-item > a {
  display: block;
  padding: 4px 17px;
  text-align: center;
  text-transform: uppercase;
}

#menu-primary .menu-items > .menu-item > a:after {
  content: "";
  display: block;
  position: relative;
  top: 6px;
  margin: 0 auto;
  height: 2px;
  width: 0;
  background: transparent none repeat scroll 0 0;
  transition: all 200ms ease-in-out 0s;
}

#menu-primary .menu-items > .menu-item.current-menu-item > a:after, #menu-primary .menu-items > .menu-item.current-menu-parent > a:after, #menu-primary .menu-items > .menu-item.current-menu-ancestor > a:after, #menu-primary .menu-items > .menu-item.current-post-ancestor > a:after, #menu-primary .menu-items > .menu-item.current-category-ancestor > a:after {
  width: 100%;
}

#menu-primary .menu-items > .menu-item:hover > a:after {
  width: 100%;
}

#menu-primary .menu-items > .menu-item {
  position: relative;
  overflow: hidden;
  /* Show sub-menu on hover menu-item */
}

#menu-primary .menu-items > .menu-item > .sub-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 99;
  max-width: 320px;
  padding: 5px;
  background: #ffffff;
  color: #48555e;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.15);
  transition: all 200ms ease 0s;
}

#menu-primary .menu-items > .menu-item:hover {
  overflow: visible;
}

#menu-primary .menu-items > .menu-item:hover > .sub-menu {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

#menu-primary .menu-items > .menu-item > .sub-menu > .menu-item {
  white-space: nowrap;
}

#menu-primary .menu-items > .menu-item > .sub-menu > .menu-item a {
  display: block;
  padding: 12px 12px;
  transition: all 100ms linear 0s;
}

/* Responsiveness */
/* Reset */
#menu-primary-mobile li, #menu-primary-mobile a {
  display: block;
}

/* Responsiveness */
#menu-primary-mobile {
  display: none;
}

/* Toggle */
.menu-toggle {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.menu-toggle span {
  padding: 0.61111rem 0.66667rem 0.66667rem;
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
}

.menu-toggle span:hover {
  text-decoration: underline;
}

.menu-toggle span:before {
  display: inline-block;
  font: normal normal normal 1rem/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  padding-right: 5px;
}

.menu-toggle.expanded span:before {
  content: "";
  padding-right: 6px;
}

.menu-toggle:before {
  content: '';
  pointer-events: none;
  height: 8px;
  border-color: #fff;
  border-style: solid;
  border-width: 8px 0 0 0;
  border-image: url("../images/border.png") 8 round;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 0;
  width: auto;
}

/* Structure */
#menu-primary-mobile .menu-items {
  display: none;
}

/* Style */
#menu-primary-mobile {
  position: relative;
  /* Top level */
}

#menu-primary-mobile .menu-items {
  border-top: 1px solid inherit;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 99;
  width: 100%;
  max-width: 320px;
}

#menu-primary-mobile .menu-items a {
  color: inherit;
}

#menu-primary-mobile a {
  color: inherit;
}

#menu-primary-mobile .menu-items > .menu-item {
  position: relative;
}

#menu-primary-mobile .menu-items > .menu-item > a {
  padding: 15px 20px;
}

#menu-primary-mobile .menu-items > .menu-item > a:hover {
  text-decoration: underline;
}

#menu-primary-mobile .menu-items > .menu-item > a:hover .fa {
  text-decoration: underline;
}

#menu-primary-mobile .sub-menu {
  display: none;
  padding: 2px 12px 10px;
}

#menu-primary-mobile .sub-menu .menu-item:first-child {
  border-top: none;
}

#menu-primary-mobile .sub-menu .menu-item a {
  padding: 8px 20px;
  font-size: 0.77778rem;
}

#menu-primary-mobile .sub-menu .menu-item.current-menu-item {
  font-weight: 700;
}

#menu-primary-mobile .touch-button {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  cursor: pointer;
  padding: 15px 20px;
}

/* Box Colored
-------------------------------------------------------------------*/
.box-colored {
  background-color: #4ca3df;
  color: #ffffff;
}

.box-colored a:hover, .box-colored a:active, .box-colored a:focus {
  color: red;
}

.box-colored h1, .box-colored h2, .box-colored h3, .box-colored h4, .box-colored h5, .box-colored h6 {
  color: #ffffff;
}

.box-colored a.button, .box-colored button, .box-colored input[type="button"], .box-colored input[type="reset"], .box-colored input[type="submit"] {
  background-color: #ffffff;
  color: #48555e;
}

.box-colored a.button:hover, .box-colored a.button:active, .box-colored a.button:focus, .box-colored button:hover, .box-colored button:active, .box-colored button:focus, .box-colored input[type="button"]:hover, .box-colored input[type="button"]:active, .box-colored input[type="button"]:focus, .box-colored input[type="reset"]:hover, .box-colored input[type="reset"]:active, .box-colored input[type="reset"]:focus, .box-colored input[type="submit"]:hover, .box-colored input[type="submit"]:active, .box-colored input[type="submit"]:focus {
  background-color: #ebebeb;
}

.box-colored a.button.highlight, .box-colored button.highlight, .box-colored input[type="button"].highlight, .box-colored input[type="reset"].highlight, .box-colored input[type="submit"].highlight {
  background-color: #e15445;
  color: #ffffff;
}

.box-colored a.button.highlight:hover, .box-colored a.button.highlight:active, .box-colored a.button.highlight:focus, .box-colored button.highlight:hover, .box-colored button.highlight:active, .box-colored button.highlight:focus, .box-colored input[type="button"].highlight:hover, .box-colored input[type="button"].highlight:active, .box-colored input[type="button"].highlight:focus, .box-colored input[type="reset"].highlight:hover, .box-colored input[type="reset"].highlight:active, .box-colored input[type="reset"].highlight:focus, .box-colored input[type="submit"].highlight:hover, .box-colored input[type="submit"].highlight:active, .box-colored input[type="submit"].highlight:focus {
  background-color: #e5695b;
}

/* Page header
-------------------------------------------------------------------*/
.page-header {
  padding-top: 100px;
  background-color: #4ca3df;
}

.page-header > .wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
}

/* Footer Banner
-------------------------------------------------------------------*/
.footer-banner {
  background-color: #4ca3df;
}

.footer-banner > .wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
}

/* Footer
-------------------------------------------------------------------*/
#footer {
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

#footer > .wrap {
  max-width: 1200px;
}

/* Plural styles */
/* Reset */
.site-branding p, .site-branding h1 {
  margin: 0;
}

/* Layout */
.site-branding {
  -webkit-flex-basis: 150px;
      -ms-flex-preferred-size: 150px;
          flex-basis: 150px;
  padding: 0;
}

.site-branding #site-title {
  width: 150px;
  height: 79px;
  margin: 0 auto;
}

.site-branding #site-title a,
.site-branding #site-title img {
  display: block;
}

.pagination {
  text-align: center;
}

.pagination .page-numbers {
  margin-right: 4px;
}

.pagination .page-numbers:last-child {
  margin-right: 0;
}

.social-media li {
  display: inline-block;
}

.social-media li {
  margin-right: 0.5rem;
}

.social-media li:last-child {
  margin-right: 0;
}

.social-media i:before {
  display: inline-block;
  font: normal normal normal 1rem/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1.55556rem;
  padding: 0.33333rem 0.22222rem 0.33333rem;
  font-size: 1rem;
  text-align: center;
  color: #fff;
}

.social-media .twitter i:before {
  content: "";
}

.social-media .facebook i:before {
  content: "";
}

.social-media .instagram i:before {
  content: "";
}

.social-media .google-plus i:before {
  content: "";
}

.social-media .pinterest i:before {
  content: "";
}

.social-media .facebook i:before {
  background-color: #3b5998;
}

.social-media .facebook:hover i:before {
  background-color: #4264aa;
}

.social-media .twitter i:before {
  background-color: #00aced;
}

.social-media .twitter:hover i:before {
  background-color: #08bbff;
}

.social-media .googleplus i:before {
  background-color: #dd4b39;
}

.social-media .googleplus:hover i:before {
  background-color: #e15f4f;
}

.social-media .google-plus i:before {
  background-color: #dd4b39;
}

.social-media .google-plus:hover i:before {
  background-color: #e15f4f;
}

.social-media .youtube i:before {
  background-color: #bb0000;
}

.social-media .youtube:hover i:before {
  background-color: #d50000;
}

.social-media .linkedin i:before {
  background-color: #007bb5;
}

.social-media .linkedin:hover i:before {
  background-color: #008ccf;
}

.social-media .instagram i:before {
  background-color: #125688;
}

.social-media .instagram:hover i:before {
  background-color: #15649f;
}

.social-media .whatsApp i:before {
  background-color: #4dc247;
}

.social-media .whatsApp:hover i:before {
  background-color: #60c85a;
}

.social-media .pinterest i:before {
  background-color: #cb2027;
}

.social-media .pinterest:hover i:before {
  background-color: #dd272f;
}

.social-media .vine i:before {
  background-color: #00bf8f;
}

.social-media .vine:hover i:before {
  background-color: #00d9a2;
}

.social-media .snapchat i:before {
  background-color: #fffc00;
}

.social-media .snapchat:hover i:before {
  background-color: #fffc1a;
}

.social-media .quora i:before {
  background-color: #a82400;
}

.social-media .quora:hover i:before {
  background-color: #c22900;
}

.social-media .dropbox i:before {
  background-color: #007ee5;
}

.social-media .dropbox:hover i:before {
  background-color: #008cff;
}

.social-media .flickr i:before {
  background-color: #ff0084;
}

.social-media .flickr:hover i:before {
  background-color: #ff1a90;
}

.social-media .tumblr i:before {
  background-color: #32506d;
}

.social-media .tumblr:hover i:before {
  background-color: #3a5d7e;
}

.social-media .vk i:before {
  background-color: #45668e;
}

.social-media .vk:hover i:before {
  background-color: #4d729f;
}

/* Images
-------------------------------------------------------------------*/
a.image-wrap {
  overflow: hidden;
}

a.image-wrap img {
  display: block;
  transition: all 0.4s ease;
}

a.image-wrap:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* Alignments
-------------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 2rem;
  margin-top: 0.33333rem;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 2rem;
  margin-top: 0.33333rem;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-top: 0.33333rem;
  margin-right: auto;
}

.gallery {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: equalize;
      -ms-flex-align: equalize;
          align-items: equalize;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: -6px;
}

.gallery .gallery-item {
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  text-align: center;
  padding: 6px;
  margin-bottom: 0;
}

.gallery .gallery-item img {
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}

.gallery-columns-3 .gallery-item {
  -webkit-flex-basis: 33.3333%;
      -ms-flex-preferred-size: 33.3333%;
          flex-basis: 33.3333%;
}

.gallery-columns-4 .gallery-item {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
}

.gallery-columns-5 .gallery-item {
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
}

.gallery-columns-6 .gallery-item {
  -webkit-flex-basis: 16.6666%;
      -ms-flex-preferred-size: 16.6666%;
          flex-basis: 16.6666%;
}

.wp-caption {
  margin-bottom: 1rem;
  font-size: inherit;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075rem 0;
}

.wp-caption-text {
  text-align: center;
}

.wp-smiley,
.emoji {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  height: 1em;
  width: 1em;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
