////
// CONTENT
////
$textcontent: 	'.entry-content',
				'.textwidget',
				'.wp-editor';

////
// COLORS
////
$havelock-blue: #4ca3df;
$curious-blue: #3a9bde;
$elephant: #133753;
$white: #ffffff;
$black: #000000;
$grey: #eeeeee;
$shark: #424d54; // 404a51
$subtitle: #a9bdcc;
$flame-pea: #e15445;

////
// MISC
////

// Paths
$path__images: '../images/';

// Borders
$border-width: 1px;
$box__shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.15);
$border-radius: 4px;

$enable-rounded:            true !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        false !default;