/**
 * Buttons
 */

 .button {
 	@include a-reset;
 }

.button,
button,
input[type="button"], 
input[type="reset"],
input[type="submit"] {
	background-color: $color-primary;
	color: $color-primary-contrast;

	display: inline-block;
	width: auto;

	font-weight: $bold-weight;
	line-height: $base-line-height;

	padding: rem(2) rem(12);

	&:hover,
	&:focus {

	}

	+ .button,
	+ button,
	+ input[type="button"], 
	+ input[type="reset"],
	+ input[type="submit"] {
		margin-left: 4px;
	}
}
