#{$all-text-inputs},
select,
textarea {
	border: $border;
	background-color: #fff;
	box-shadow: $form-box-shadow;

	&:hover {
		border-color: darken($border-color, 10%);
	}

	&:focus {
		border-color: $action-color;
	}
}


input:checked + label {
  font-weight: bold;
}

