#{$all-text-inputs},
select[multiple=multiple],
textarea {
	border: $base-border;
	background-color: $color-light;
	box-shadow: $form-box-shadow;

	&:hover {
		border-color: darken($base-border-color, 10%);
	}

	&:focus {
		border-color: $action-color;
	}
}


input:checked + label {
  font-weight: bold;
}

