@mixin button( $style: primary ) {
    // Reset
    @include reset-link-style;

    // Structure
    display: inline-block;
    padding: 10px 15px;

    // Font
    font-size: get-font-size(base);

    // Color
    @if $style == white {
        background-color: palette(white);
        color: palette(black);

        &:hover {
            background-color: palette(white, dark);
        }
    }
    @else {
        background-color: palette(primary);
        color: palette(white);

        &:hover {
            background-color: palette(primary, dark);
        }
    }
}

/* Button link */
a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    @include button();
}

a.button + br + a.button {
    margin-top: 4px;
}   