/* Links
-------------------------------------------------------------------*/
a {
    color: palette(primary);

    &:visited {
    }
    &:hover,
    &:focus,
    &:active {
        color: palette(primary, dark);
        text-decoration: underline;
    }
}

// Reset link-style
@mixin reset-link-style() {
    color: inherit;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}