/* Main typography
-------------------------------------------------------------------*/
html {
    // font-size: get-font-size(base) / 16px * 100%;
    font-size: get-font-size-clean(base) / 16 * 100%;
}

body,
button,
input,
select,
textarea {
	@include font(base);
    color: palette(black);
}

/* Headings
-------------------------------------------------------------------*/

h1 {
    @include font(heading1);
}

h2 {
    @include font(heading2);
}

h3 {
    @include font(heading3);
}

h4,h5,h6 {
    @include font(heading4);
}

// Remove heading styling
@mixin reset-heading-style() {
	@include font(base);
}

/* Font Styles
-------------------------------------------------------------------*/

b, strong { 
    font-weight: get-font-weight(bold, base);

    b, strong { 
        font-weight: get-font-weight(normal, base);
    }
}

i, em, mark, cite { 
    font-style: italic; 

    i, em, mark, cite { 
        font-style: normal; 
    }
}