/* ==========================================================================
   Variables
   ========================================================================== */

/**
 * Setup all variables in one place. It should fit in one place.
 *
 * TODO: Clean-up / remove all redundant variables
 */  

/* Grid
   ========================================================================== */

$max-width: 960px;
$min-width: 288px;

$laptop-breakpoint: 880px;
$tablet-breakpoint: 720px;
$smartphone-breakpoint: 560px;
$barebones-breakpoint: 400px;

// /**
//  * If working with adaptive container widths
//  */
// $laptop-width: 880px;
// $tablet-width: 720px;
// $smartphone-width: 560px;
// $barebones-width: 460px;

$gutter: 36px;
$gutter-rel: strip-units( $gutter / $max-width ) * 100% ;

/* Column widths */
$one-half: (100% - ($gutter-rel * 1)) / 2;
$one-third: (100% - ($gutter-rel * 2)) / 3;
$two-third: $one-third * 2 + $gutter-rel;
$one-fourth: (100% - ($gutter-rel * 3)) / 4;
$three-fourth: $one-fourth * 3 + $gutter-rel;
$one-sixth: (100% - ($gutter-rel * 5)) / 6;
$five-sixth: $one-sixth * 5 + $gutter-rel;

/* Typography
   ========================================================================== */

/**
 * Configure default font-sizes and line-heights
 */
$em-base: 16px; /* Em-base variable for use of bourbon functions */
$ejo-font-size: 16px;
$ejo-line-height: 26px;

$ejo-font-size-small: 14px;
$ejo-line-height-small: 21px;

$ejo-font-size-large: 18px;
$ejo-line-height-large: 32px;

/**
 * Heading font-sizes and line-heights
 */
$h1: rem(32px);
$h2: rem(24px);
$h3: rem(20px);
$h4: rem(16px);
$heading-line-height: 1.125;

/* Typography */
$font-family: georgia, serif;
$heading-font-family: verdana, serif;

/* Font Weights */
$normal-weight: 400;
$bold-weight: 700;

/**
 * Process font-sizes and line-heights
 */
$font-size: rem($ejo-font-size);
$line-height: strip-units($ejo-line-height / $ejo-font-size);

$font-size-small: rem($ejo-font-size-small);
$line-height-small: strip-units($ejo-line-height-small / $ejo-font-size-small);

$font-size-large: rem($ejo-font-size-large);
$line-height-large: strip-units($ejo-line-height-large / $ejo-font-size-large);

/* Colors
   ========================================================================== */

/* Colors */
$color-primary: #777;
$color-secondary: #EEE;

/* Color contrasts */
$color-primary-contrast: #FFF;
$color-secondary-contrast: #666;

/* Background color */
$bg-color: #fff;

/* Font */
$font-color: #333;

/* Action / Links */
$action-color: #777;

/* Borders
   ========================================================================== */

$border-color: #ccc;
$border: 1px solid $border-color;
$border-radius: 3px;

/* Forms
   ========================================================================== */

$form-box-shadow: inset 0 0px 5px rgba(#000, 0.05);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

/* Paths
   ========================================================================== */

/* Paths */
$img_path: 'images/';