@charset 'UTF-8';

// Abstracts
@import "abstracts/typography";
@import "abstracts/structure";
@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/on-event";
@import "abstracts/border-radius";
@import "abstracts/breakpoints";

@import "vendors/icons";
@import "vendors/social-media";

/* Reset
-------------------------------------------------------------------*/
@import url(normalize.min.css);

// Content
@import "base/site";
@import "base/body";
@import "base/links";
@import "base/headings";
@import "base/lists";
@import "base/tables";
@import "base/misc";
@import "base/forms";
@import "base/buttons";
@import "base/variants";

// Modules (hapklare brokken)
@import "modules/image-effects";
@import "modules/alignments";
@import "modules/columns";
@import "modules/social-media";
@import "modules/media/galleries";
@import "modules/media/captions";
@import "modules/media/smileys";
@import "modules/accessibility";

// Shame
@import "modules/shame";

/* Editor Style specifics
============================================================================ */
body {

}

/* Main content editor */
/* Intro content editor */
body.content,
body.introcontent {
	@include content-container(editor);
	margin: 1rem auto; 
}

/* Other content editors (ex. black studio tinymce widget) */
body:not(.content):not(.introcontent) {
	margin: 9px 10px;
}

/* Fix weird br after linked image which causes layout problems */
br[data-mce-bogus]:not(:only-child), 
br[type='_moz'],
br[type='_moz'] + br[data-mce-bogus] {
	visibility: hidden;
	display: none;
}

