/* Forms
-------------------------------------------------------------------*/
// $form-text-inputs: 	'input[type="color"]',
// 					'input[type="date"]',
// 					'input[type="datetime"]',
// 					'input[type="datetime-local"]',
// 					'input[type="email"]',
// 					'input[type="month"]',
// 					'input[type="number"]',
// 					'input[type="password"]',
// 					'input[type="search"]',
// 					'input[type="tel"]',
// 					'input[type="text"]',
// 					'input[type="time"]',
// 					'input[type="url"]',
// 					'input[type="week"]',
// 					'input:not([type])';

$form-text-inputs: 	'input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])',
					'input:not([type])';



input,
select,
textarea {
	font-family: get-font-family(primary);
    font-weight: get-font-weight(normal, primary);
    font-size: 1rem;
    line-height: $base-line-height;
}

#{$form-text-inputs},
select,
textarea {
	padding: 4px 6px;
	border: 1px solid rgba($shark, 0.6);
	border-radius: $border-radius;

	@include on-event {
		border-color: $havelock-blue;
	}
}

select {

}

textarea {
	resize: vertical;
	min-height: 100px;
}

/* Style label of checked input */
input:checked + label {
	text-decoration: underline;
}
