/* Forms
-------------------------------------------------------------------*/
$form-text-inputs: 	'input[type="color"]',
					'input[type="date"]',
					'input[type="datetime"]',
					'input[type="datetime-local"]',
					'input[type="email"]',
					'input[type="month"]',
					'input[type="number"]',
					'input[type="password"]',
					'input[type="search"]',
					'input[type="tel"]',
					'input[type="text"]',
					'input[type="time"]',
					'input[type="url"]',
					'input[type="week"]',
					'input:not([type])';

button,
input,
select,
textarea {
	font-family: get-font-family(primary);
    font-weight: get-font-weight(normal, primary);
    font-size: 1rem;
    line-height: $base-line-height;
}

#{$form-text-inputs},
select,
textarea {
	padding: 4px 6px;
	border: 1px solid $river-bed;
	border-radius: $border-radius;

	@include on-event {
		border-color: $havelock-blue;
	}
}

select {

}

textarea {
	resize: vertical;
	min-height: 100px;
}

/* Style label of checked input */
input:checked + label {
	text-decoration: underline;
}

/* Gravity Forms */
.gform_wrapper .gf_list_inline {
	li {
		
	}
	input + label {

	}
}

/* Buttons
-------------------------------------------------------------------*/
$buttons:   'a.button',
            'button',
            'input[type="button"]',
            'input[type="reset"]',
            'input[type="submit"]';

@mixin button($style:havelock-blue) 
{
	@if $style == white {
		background-color: $white;
	    color: $river-bed;

		@include on-event {
			background-color: shade($white, 8%);
		}
	}
	@elseif $style == flame-pea {
		background-color: $flame-pea;
	    color: $white;

		@include on-event {
			background-color: tint($flame-pea, 12%);
		}
	}
	@elseif $style == transparent {
		background-color: transparent;
	    color: $havelock-blue;

		@include on-event {
			color: $river-bed;
		}
	}
	@else {
		background-color: $havelock-blue;
	    color: $white;

		@include on-event {
			background-color: shade($havelock-blue, 10%);
		}
	}
}

%button {
	@extend %reset-link;

    display: inline-block;
    padding: 0 1.333rem;
    border: none;
    border-radius: $border-radius + 3px;
    font-size: type-scale(0);
    line-height: vertical-space(1.5);
    font-weight: get-font-weight(bold,primary);
    // text-transform: uppercase;
    // letter-spacing: 0.5px;

    & + & {
    	margin-left: 8px;
    }
}

#{$buttons} {
	@extend %button;
	@include button(havelock-blue);

	&.transparent {
		@include button(transparent);
	}

	&.highlight {
		@include button(flame-pea);
	}
}

/* Create small space if buttons are posted above each other */
a.button + br + a.button {
    margin-top: 4px;
}   