/* Headings
-------------------------------------------------------------------*/

$default-headings: 'h1', 'h2', 'h3', 'h4', 'h5', 'h6';
$textcontent-headings: selector-nest(#{$textcontent}, #{$default-headings});
$textcontent-h1: selector-nest(#{$textcontent}, 'h1');
$textcontent-h2: selector-nest(#{$textcontent}, 'h2');
$textcontent-h3: selector-nest(#{$textcontent}, 'h3');
$textcontent-h4: selector-nest(#{$textcontent}, 'h4, h5, h6');

#{$default-headings} {
    margin: 0;
}

h1 {
    margin-bottom: vertical-space(1.5);
    font-size: font-size(h1);
    line-height: vertical-space(1.5);
    font-family: get-font-family(secondary);
    font-weight: get-font-weight(bold, secondary);
    color: $curious-blue;
}

h2 {
    margin-bottom: vertical-space(1.5);
    font-size: font-size(h2);
    line-height: vertical-space(1.5);
    font-family: get-font-family(secondary);
    font-weight: get-font-weight(bold, secondary);
    color: $curious-blue;
}

h3 {
    margin-bottom: vertical-space(1);
    font-size: font-size(h3);
    line-height: vertical-space(1);
    font-family: get-font-family(primary);
    font-weight: get-font-weight(bold, primary);
    text-transform: uppercase;
    color: $curious-blue;
}

h4,h5,h6 {
    margin-bottom: 0;
    font-size: font-size(h4);
    line-height: line-height(1);
    font-family: get-font-family(secondary);
    font-weight: get-font-weight(bold, secondary);
    color: $curious-blue;
}

#{$textcontent-headings} {
    text-align: center;
    &:first-child {
        margin-top: 0;
    }
}

#{$textcontent-h1} {
    margin-top: vertical-space(1);
}

#{$textcontent-h2} {
    margin-top: vertical-space(1.5);
}

#{$textcontent-h3} {
    margin-top: 0;
}

#{$textcontent-h4} {
    margin-top: 0;
}

/* Reset headings */
%reset-heading {
    text-transform: none;
    color: inherit;
}

.entry-subtitle,
.subtitle {
    @extend %reset-heading;
    display: block;
    line-height: vertical-space(1);
    font-weight: get-font-weight(normal, primary);
    color: $river-bed;

    h1 & {
        margin-top: vertical-space(0.25);
        margin-bottom: vertical-space(-0.25);
        font-size: font-size(h3plus);
    }

    h2 & {
        font-size: font-size(h3);
    }
}

/* Link in title */
.entry-title,
.widget-title {
    a {
        @include on-event {
            color: $havelock-blue;            
        }
    }
}

/* Titles */
.entry-title {}

h2.entry-title {
    margin-bottom: vertical-space(1);
}

.widget-title {}

.archive-title {}

.gsection_title {
    margin-top: vertical-space(1);
    margin-bottom: vertical-space(1);

    /* Reverse default heading style */
    &:first-child {
        margin-top: vertical-space(1);
    }
}