/* Links
-------------------------------------------------------------------*/

a {
	color: inherit;
    text-decoration: none;    
	transition: all 0.2s ease-in-out 0s;
}

$default-links: 'a:not(.button)';
$textcontent-links: selector-nest(#{$textcontent}, #{$default-links});

/* Links in content */
#{$textcontent-links} {
	color: $havelock-blue;
	text-decoration: underline;

	@include on-event {
		color: darken($havelock-blue, 15%);
	}	 
}
