/* Lists
-------------------------------------------------------------------*/
ul, ol {
    padding: 0;
    margin-top: 0;
    margin-left: 2.5rem;
    margin-bottom: vertical-space(1);

    ul, ol {
        margin-bottom: 0;
        margin-top: vertical-space(0.5);
    }

    li {
        margin-bottom: vertical-space(0.5);
        padding-left: rem(6);
    }
}

ul { list-style-type: circle; }
ol { list-style-type: decimal; }

/* Reset lists */
@mixin reset-list {
    margin: 0;
    list-style: none;

    ul, ol {
        margin-top: 0;
    }

    li {
        margin-bottom: 0;
        padding-left: 0;
    }
}

/* Special lists */
ul.checklist {
    list-style: none;

    li {
        &:before {
            @include icon(fa-check);
            margin-right: 0.5em;
        }
    }
}
