/* Font Styles
-------------------------------------------------------------------*/
b, strong { 
    font-weight: get-font-weight(bold, primary);
}

i, em, mark, cite { 
    font-style: italic; 
}

/* Paragraphs
-------------------------------------------------------------------*/

p {
    margin-top: 0;
    margin-bottom: vertical-space(1);

    &.intro {
        font-weight: get-font-weight(bold, primary);
    }
}

/* Horizontal Rule
-------------------------------------------------------------------*/

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    // height: 2px;
}

/* Blockquotes
-------------------------------------------------------------------*/

blockquote {
    margin: vertical-space(1) 0;
    padding: 0 0 0 1.5rem;
    font-style: italic;

    i,
    em, 
    cite {
        font-style: normal;
    }
}

// /* Code
// -------------------------------------------------------------------*/

// code {}

// pre {}

// pre code {}