/* Tables
-------------------------------------------------------------------*/
    
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: vertical-space(1);
	// border-top: 1px solid $shark;
}

th,
td {
    padding: vertical-space(0.5);
    text-align: left;
    vertical-align: middle;
}

th {
    background-color: $havelock-blue;
    color: $white;
}

td {

}

tr {
    &.even {
        background-color: rgba($black, 0.05);
    }
}

/* Reset table */
%reset-table {
	
}
